package {{.Mod.Name.Flat}}


func ({{.Mod.AggregateRoot.Name.FirstLetterLower}} *{{.Mod.AggregateRoot.Name.Pascal}}) {{.Cmd.Name.Pascal}}(
    // TODO: add params
) error {
    // TODO: add domain logic

	{{.Mod.AggregateRoot.Name.FirstLetterLower}}.MarkUpdated()

	return nil
}
