<script lang="ts" setup>
import { {{.Icon}} } from "lucide-vue-next";
import DashboardCard from "~/app/components/DashboardCard/DashboardCard.vue";
</script>

<template>
  <!-- TODO: update description and icon -->
  <DashboardCard
    title="{{.Name.Pascal}}"
    description="{{.Description}}"
    href="/{{.Name.Kebab}}"
    :icon="{{.Icon}}"
  />
</template>
