package command

{{range .Aggregates}}
type {{.Name.Pascal}} struct {
    {{- range .Fields}}
    {{.Name.Pascal}} {{.GoType}}
    {{- end}}
    // TODO
}

{{range .NestedObjects}}
type {{.Name.Pascal}} struct {
    {{- range .Fields}}
    {{.Name.Pascal}} {{.GoType}}
    {{- end}}
    // TODO
}
{{end}}
{{end}}