import {{.Name.Pascal}}View from "../views/{{.Name.Pascal}}View.vue";

const {{.Name.Flat}}Routes = [
  {
    path: "/{{.Name.Kebab}}",
    component: {{.Name.Pascal}}View,
  },
  {{- range .Aggregates}}
  {
    path: "/{{$.Name.Kebab}}/{{.Name.PluralKebab}}",
    component: {{$.Name.Pascal}}View,
  },
  {{- end}}
];

export default {{.Name.Flat}}Routes;
