site_name: Go Full Documentation
repo_name: cooperlutz/go-full
repo_url: https://github.com/cooperlutz/go-full

theme:
  name: material
  custom_dir: overrides
  features:
  - content.code.annotate
  - content.code.copy
  - content.footnote.tooltips
  - content.tabs.link
  - content.tooltips
  - navigation.footer
  - navigation.indexes
  - navigation.instant
  - navigation.instant.prefetch
  - navigation.instant.progress
  - navigation.path
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.top
  - navigation.tracking
  - search.highlight
  - search.suggest
  - toc.follow

plugins:
  - search:
      lang: en
  - include-markdown

markdown_extensions:
  abbr:
  attr_list:
  footnotes:
  md_in_html:
  tables:
  toc:
    permalink: true
  admonition:
  pymdownx.superfences: # For nested content within admonitions