package query

{{- range .Aggregates}}
// TODO: Review
type {{.Name.Pascal}} struct {
    {{- range .Fields}}
    {{.Name.Pascal}} {{.GoType}}
    {{- end}}
}

{{- range .NestedObjects}}
// TODO: Review
type {{.Name.Pascal}} struct {
    {{- range .FieldsAlphabetized}}
    {{.Name.Pascal}} {{.GoType}}
    {{- end}}
}
{{- end}}
{{- end}}