# https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax

# Continuous Integration (CI) workflow for Pull Requests (PRs) and pushes to main branch.
name: Build

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: write
  packages: write

jobs:
  ci:
    name: Lint, Format, Unit Test, Build, Coverage, Release Snapshot
    runs-on: ubuntu-latest
    steps:

      - name: Setup / Check out code into the Go module directory
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Setup / pnpm for frontend build
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4
        with:
          version: 10
          run_install: false

      - name: Setup / Install frontend dependencies
        run: pnpm install
        working-directory: ./api/frontend

      - name: Setup / Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: 1.26.0

      - name: Run / Make CI
        run: make ci

      # Verify that version bump and changelog generation would succeed
      - name: Run / Bump version & generate changelog
        uses: commitizen-tools/commitizen-action@2e8226b3e7e141ae28de9942957f267eb5d68fb6 # v0.27.0
        with:
          push: false
          dry_run: true

      - name: Test / Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        # Skip Codecov for Dependabot PRs
        if: ${{ !startsWith(github.head_ref, 'dependabot/') }}
        with:
          fail_ci_if_error: true
          files: .coverage/coverage.filtered.out, api/frontend/coverage/coverage-final.json
          slug: cooperlutz/go-full
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Run / GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean --snapshot
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run / End to End Tests
        run: make compose-e2e

      - name: Publish / Upload dist
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          path: dist
          retention-days: 1