name: Docs CI/CD

on:
  push:
    branches: [ main ]
    paths:
    - 'docs/**'

permissions:
  contents: write
  pages: write

jobs:
  uv-example:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.0

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        working-directory: ./docs
        run: uv sync --locked --all-extras --dev

      - name: Deploy to GitHub Pages
        run: |
          uv run mkdocs gh-deploy --force
        working-directory: ./docs